* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  font-family: "Antonio";
}

.header {
  background-color: #ffffff;
  z-index: 10;
}

.logoRacing {
  height: 10vh;
  width: auto;
}

.custom-navbar {
  z-index: 10000;
}

#navbarNavAltMarkup {
  justify-content: right;
}

.navbar-toggler {
  background-color: #ffffff;
  border: 2px solid #131748;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(19, 23, 72, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.asociate {
  color: #8bc4e5;
}

#asociate {
  color: #8bc4e5;
}

main {
  font-family: "antonio";
}

.section1 {
  background-color: #131748;
}

.section1 .divArticle1 {
  color: #ffffff;
  height: 50vh;
  width: 60vw;
}

.section1 .divArticle2 {
  color: #ffffff;
}

.akdBlanco {
  max-width: 100%;
  height: auto;
}

#btnDeAsociate {
  z-index: 1;
  top: auto;
}

.section2 {
  background-color: #8bc4e5;
  display: block;
  height: auto;
  overflow: hidden;
}

.article21 {
  background-color: #ffffff;
  display: block;
  height: auto;
  overflow: hidden;
  color: #131748;
}

.tituloProximosPartidos {
  font-size: medium;
}

.partidosTamañoFuente {
  font-size: small;
}

.article22 {
  color: #ffffff;
}

.modal-header .index {
  color: #131748;
}

.textoModalNoticias p {
  color: #131748;
}

.tituloNoticias {
  text-decoration: none;
  color: #ffffff;
}

.tituloNoticias:hover {
  text-decoration: none;
  color: #131748;
}

.noticias img {
  width: 55vw;
  height: auto;
}

.botonVerMasNoticias {
  background-color: #8bc4e5;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.botonVerMasNoticias:hover {
  background-color: #131748;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.section3 {
  background-color: #131748;
  display: block;
  height: auto;
  overflow: hidden;
}

.article31 {
  background-color: #ffffff;
  display: block;
  height: auto;
  overflow: hidden;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.owl-carousel {
  z-index: 100;
}

.owl-carousel .item {
  width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.owl-item.active {
  margin-right: 0px !important;
}

.owl-carousel img {
  width: 100%;
  height: auto;
}

.owl-stage {
  display: flex;
  align-items: center;
}

.article32 {
  color: #ffffff;
  display: block;
  height: auto;
  overflow: hidden;
}

/*Mapas*/

.mapContainer {
  position: relative;
  height: 300px;
  width: 100%;
}

.mapCobertor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.82);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in;
  z-index: 1;
  pointer-events: auto;
}

.mapCobertor2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.82);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in;
  z-index: 1;
  pointer-events: auto;
}

.mapCobertor.hidden {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.mapCobertor2.hidden {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.mapCobertorContent {
  color: #ffffff;
  text-align: center;
}

.botonContainer {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  transition: bottom 0.5s ease, transform 0.5s ease;
}

.botonContainer2 {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  transition: bottom 0.5s ease, transform 0.5s ease;
}

.botonContainer.center {
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.botonContainer2.center {
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.toggleBoton {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #131748;
  transition: background-color 0.3s ease;
}

.toggleBoton:hover {
  background-color: #131748;
  color: #ffffff;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 0;
  position: relative;
}

/*Fin de Mapas*/

.section4 {
  display: block;
  height: auto;
  overflow: hidden;
  background-color: #8bc4e5;
  color: #ffffff;
}

.nuestrosProductos {
  text-decoration: none;
  color: #ffffff;
}

.nuestrosProductos:hover {
  text-decoration: none;
  color: #131748;
}

.carruselProductos {
  height: 20vh;
  display: flex;
  align-items: center;
}

.owl-carouselP {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.owl-carouselP .item {
  width: 60%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  text-align: center;
}

.owl-carouselP img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #ffffff;
  display: block;
  height: auto;
  overflow: hidden;
}

footer svg {
  color: #131748;
  height: 4vh;
  width: auto;
}

.divEscudoRacing {
  max-height: 45vh;
  max-width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.escudoRacing {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
}

.logosLigas {
  height: 5vh;
  width: auto;
}

.bi-whatsapp:hover {
  color: #25d366;
}

.bi-facebook:hover {
  color: #1877f2;
}

.bi-instagram:hover {
  background: linear-gradient(
    45deg,
    #fd1d1d,
    #fccc63,
    #f77737,
    #833ab4,
    #405de6
  );
  border-radius: 10px;
  color: #ffffff;
}

.bi-twitter-x:hover {
  color: #000000;
}

.bi-tiktok:hover {
  color: #000000;
}

/*Clases de Bootstrap*/

.btn-custom {
  background-color: #ffffff;
  color: #131748;
  border: 2px solid #131748;
}

.btn-custom:hover {
  background-color: #131748;
  color: #ffffff;
  border: 2px solid #ffffff;
}

/*Clases Paginas Secundarias*/

.mainClub {
  color: #131748;
}

.mainClub p {
  font-size: smaller;
}

.mainEstadios {
  color: #131748;
}

.mainPlantel {
  color: #131748;
}

.mainProductos {
  color: #131748;
  background-color: #8bc4e5;
}

.fotoPlantel {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 20%;
}

.sectionPlantel {
  max-width: 100vw;
  overflow: hidden;
}

.articlePlantel {
  max-width: 95vw;
  border: 3px solid #131748;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articlePlantel .container-fluid {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .noticias img {
    width: 40vw;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .divArticle2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .header {
    position: sticky;
    top: 0;
  }

  .section1 {
    background-color: #131748;
    height: 90vh;
  }

  .section1 .divArticle1 {
    color: #ffffff;
    height: 50vh;
    width: 60vw;
    font-size: 40vh;
  }

  .tituloProximosPartidos {
    font-size: large;
  }

  .partidosTamañoFuente {
    font-size: medium;
  }

  .noticias img {
    width: 20vw;
    height: auto;
  }

  .divEscudoRacing {
    max-height: 45vh;
    max-width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .escudoRacing {
    max-height: 100%;
    width: 15vw;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
  }

  footer svg {
    color: #131748;
    height: 5vh;
    width: auto;
  }

  .logosLigas {
    height: 6vh;
    width: auto;
  }

  .mainClub p {
    font-size: medium;
  }

  .articlePlantel {
    max-width: 30vw;
  }
}

@media screen and (min-width: 992px) {
  .tituloProximosPartidos {
    font-size: x-large;
  }

  .partidosTamañoFuente {
    font-size: large;
  }

  footer svg {
    color: #131748;
    height: 6vh;
    width: auto;
  }

  .logosLigas {
    height: 7vh;
    width: auto;
  }

  .mainClub p {
    font-size: large;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1440px) {
}
