* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  font-family: "Antonio";
}

.asociate {
  color: #8bc4e5;
}

#asociate {
  color: #8bc4e5;
}

main {
  font-family: "antonio";
}

.section1 {
  background-color: #131748;
  height: calc(100vh - 100px);
}

.section1 .divArticle1 {
  color: #ffffff;
  height: 50vh;
  width: 60vw;
  font-size: 40vh;
}

.section1 .divArticle2 {
  color: #ffffff;
}

.akdBlanco {
  max-width: 100%;
  height: auto;
}

.section2 {
  background-color: #8bc4e5;
  height: 118vh;
}

.article21 {
  background-color: #ffffff;
  height: 18vh;
}

.noticias img {
  width: 20vw;
  height: auto;
}

.section3 {
  background-color: #131748;
  height: calc(100vh - 100px);
}

.article31 {
  background-color: #ffffff;
  height: 13vh;
}

.owl-carousel {
  z-index: 100;
}

.owl-carousel .item {
  width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  text-align: center;
}

.owl-carousel img {
  width: 100%;
  height: auto;
}

.article32 {
  color: #ffffff;
  height: calc(87vh - 100px);
}

/*Mapas*/

.mapContainer {
  position: relative;
  height: 300px;
  width: 100%;
}

.mapCobertor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.82);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in;
  z-index: 1;
  pointer-events: auto;
}

.mapCobertor2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.82);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in;
  z-index: 1;
  pointer-events: auto;
}

.mapCobertor.hidden {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.mapCobertor2.hidden {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.mapCobertorContent {
  color: #ffffff;
  text-align: center;
}

.botonContainer {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  transition: bottom 0.5s ease, transform 0.5s ease;
}

.botonContainer2 {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  transition: bottom 0.5s ease, transform 0.5s ease;
}

.botonContainer.center {
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.botonContainer2.center {
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.toggleBoton {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #131748;
  transition: background-color 0.3s ease;
}

.toggleBoton:hover {
  background-color: #131748;
  color: #ffffff;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 0;
  position: relative;
}

.section4 {
  height: 30vh;
  background-color: #8bc4e5;
  color: #ffffff;
}

.nuestrosProductos {
  text-decoration: none;
  color: #ffffff;
}

.nuestrosProductos:hover {
  text-decoration: none;
  color: #131748;
}

.carruselProductos {
  height: 20vh;
}

.owl-carouselP {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.owl-carouselP .item {
  width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  text-align: center;
}

.owl-carouselP img {
  width: 100%;
  height: auto;
}

footer {
  height: 45vh;
}

footer svg {
  color: #131748;
  height: 4vh;
  width: auto;
}

.escudoRacing {
  height: 35vh;
  width: auto;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.logosLigas {
  height: 6vh;
  width: auto;
}

.producto {
  width: 100%;
}

.bi-whatsapp:hover {
  color: #25d366;
}

.bi-facebook:hover {
  color: #1877f2;
}

.bi-instagram:hover {
  background: linear-gradient(
    45deg,
    #fd1d1d,
    #fccc63,
    #f77737,
    #833ab4,
    #405de6
  );
  border-radius: 0.1rem;
  color: #ffffff;
}

.bi-twitter-x:hover {
  color: #000000;
}

.bi-tiktok:hover {
  color: #000000;
}

/*Clases de Bootstrap*/

.btn-custom {
  background-color: #ffffff;
  color: #131748;
  border: 2px solid #131748;
}

.btn-custom:hover {
  background-color: #131748;
  color: #ffffff;
  border: 2px solid #ffffff;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .header {
    height: 100px;
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    z-index: 10;
    font-family: "Antonio";
    transition: height 0.3s ease;
  }

  .header div {
    height: 100px;
  }

  .headerReducido {
    height: 80px;
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    z-index: 10;
    transition: height 0.3s ease;
  }

  .headerReducido div {
    height: 80px;
  }

  #navbarNavAltMarkup {
    justify-content: right;
  }

  .custom-navbar {
    height: 100px;
    transition: height 0.3s ease;
    background-color: #ffffff;
  }

  .custom-navbar .navbar-brand,
  .custom-navbar .navbar-nav .nav-link {
    line-height: 100px;
  }

  .custom-navbar .navbar-brand img {
    max-height: 100%;
    height: 90px;
    width: auto;
    transition: height 0.3s ease;
  }

  .custom-navbarReducido {
    height: 80px;
    transition: height 0.3s ease;
  }

  .custom-navbarReducido .navbar-brand,
  .custom-navbarReducido .navbar-nav .nav-link {
    line-height: 80px;
  }

  .custom-navbarReducido .navbar-brand img {
    max-height: 100%;
    height: 70px;
    width: auto;
    transition: height 0.3s ease;
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1440px) {
}
