.titulo {
  color: #131748;
}

.sectionIniciales {
  background-color: #131748;
}

.pIniciales {
  color: #ffffff;
}

#textoWhtasApp {
  color: #25d366;
}

#botonWhatsApp {
  color: #25d366;
  border: #25d366 solid 3px;
  background-color: #131748;
}

#botonWhatsApp:hover {
  background-color: #ffffff;
}

.imagenIniciales {
  width: 25%;
  height: auto;
}
