.botonVerMas {
  background-color: #ffffff;
  color: #131748;
  border: 2px solid #131748;
}

.botonVerMas:hover {
  background-color: #131748;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.producto {
  border: 2px solid #131748;
  border-radius: 5px;
}

.producto img {
  width: 20vw;
  height: auto;
}

.producto p {
  font-size: small;
}

@media screen and (min-width: 768px) {
  .producto img {
    width: 15vw;
    height: auto;
  }
}

@media (min-width: 992px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Aquí defines el espacio entre productos */
  }
}
