.botonVerMas {
  background-color: #ffffff;
  color: #131748;
  border: 2px solid #131748;
}

.botonVerMas:hover {
  background-color: #131748;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.producto {
  border: 2px solid #131748;
  border-radius: 5px;
}

.producto img {
  width: 80vw;
  height: auto;
}

.producto p {
  font-size: small;
}

#imagenPrincipal {
  max-height: 400px;
}

.miniatura {
  display: inline-block; /* Asegura que las miniaturas se alineen en una línea */
  cursor: pointer;
}

.miniaturaAncha {
  object-fit: cover;
}

.miniatura:hover {
  opacity: 0.7;
}

/* Contenedor de miniaturas */
.miniaturasContenedor {
  display: flex;
  justify-content: flex-start;
  gap: 1vw; /* Espacio entre miniaturas */
  overflow-x: auto; /* Habilitar scroll lateral */
  overflow-y: hidden; /* Ocultar cualquier desbordamiento vertical */
  white-space: nowrap; /* Asegura que las miniaturas se mantengan en una línea */
  padding-bottom: 10px; /* Espacio adicional para evitar que el scroll tape las miniaturas */
}

.miniaturas-contenedor::-webkit-scrollbar {
  display: none; /* Oculta el scrollbar en navegadores basados en Webkit */
}

.miniaturas-contenedor {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (min-width: 576px) {
  .noticias img {
    width: 40vw;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .noticias img {
    width: 20vw;
    height: auto;
  }

  .producto img {
    width: 15vw;
    height: auto;
  }

  .miniaturasContenedor {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Aquí defines el espacio entre productos */
  }
}
