.linkATienda {
  text-decoration: none;
  color: #131748;
}

.fondoTexto {
  background-color: #ffffff;
  border-radius: 8px;
  display: inline;
  padding: 0.5vh 0.8vw;
}

.botonVerMas {
  background-color: #ffffff;
  color: #131748;
  border: 2px solid #131748;
}

.botonVerMas:hover {
  background-color: #131748;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.producto {
  border: 2px solid #131748;
  border-radius: 5px;
}

.producto img {
  width: 80vw;
  height: auto;
  border-radius: 5px;
}

.producto p {
  font-size: small;
}

#imagenPrincipal {
  max-height: 400px;
}

.miniatura {
  display: inline-block;
  cursor: pointer;
}

.miniaturaAncha {
  object-fit: cover;
}

.miniatura:hover {
  opacity: 0.7;
}

/* Contenedor de miniaturas */
.miniaturasContenedor {
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
}

.miniaturasContenedor::-webkit-scrollbar {
  display: none;
}

.miniaturasContenedor {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (min-width: 576px) {
  .noticias img {
    width: 40vw;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .noticias img {
    width: 20vw;
    height: auto;
  }

  .producto img {
    width: 15vw;
    height: auto;
  }

  .miniaturasContenedor {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Aquí defines el espacio entre productos */
  }
}
