:root {
  --color-principal: #000000;
  --color-secundario: #ffffff;
  --color-acento: #000000;
}

.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: var(--color-secundario);
  color: var(--color-acento);
}

#nombreClub {
  color: var(--color-principal);
}

.colorPrincipal {
  color: var(--color-principal);
}

.colorSecundario {
  color: var(--color-secundario);
}

.logo-sidebar {
  max-width: 45%;
  height: auto;
}
